APP_NAME="Ventas Declaracion"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Caracas
APP_URL=https://${{RAILWAY_PUBLIC_DOMAIN}}

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

# Configuración Base de Datos Supabase (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.yzlopcstdglbjgmxdbjl
DB_PASSWORD=
DB_SSLMODE=require

# Sesiones y Caché
SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=database

# Configuración Servidor Web Railway
NIXPACKS_PHP_ROOT_DIR=/app/public
