APP_NAME="Ventas Declaracion"
APP_ENV="production"
APP_KEY="base64:zh5ZKl/SGCD+ZAQEvJiMSn8AdYXAx7QXMkL5MZCHwK4="
APP_DEBUG="false"
APP_TIMEZONE="UTC"
APP_URL="https://ventas-production-2155.up.railway.app"
APP_LOCALE="es"
APP_FALLBACK_LOCALE="en"

DB_CONNECTION="pgsql"
DB_HOST="aws-0-us-west-2.pooler.supabase.com"
DB_PORT="6543"
DB_DATABASE="postgres"
DB_USERNAME="your_username"
DB_PASSWORD="your_password"
DB_SSLMODE="require"

SESSION_DRIVER="database"
SESSION_LIFETIME="120"
SESSION_ENCRYPT="false"
SESSION_PATH="/"
SESSION_DOMAIN="null"

CACHE_STORE="database"
QUEUE_CONNECTION="database"
FILESYSTEM_DISK="local"

BCRYPT_ROUNDS="12"
LOG_CHANNEL="stack"
LOG_LEVEL="debug"
BROADCAST_CONNECTION="log"

VITE_APP_NAME="${APP_NAME}"
